.reservation-tile {
    width: 300px;

    margin: 20px;
    padding: 5px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;

    background-color: rgb(252, 189, 18);
}

.reservation-dates-container {
    width: 100%;

    margin: 6px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-color: red;
}

.reservation-date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-color: yellow;
}

.reservation-details-container {
    width: 100%;
    height: 120px;

    margin: 2px;
    padding: 4px 8px;

    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.062);
}